In [10]:
import pandas as pd
import numpy as np
import pickle
import os
import copy

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_recall_fscore_support, classification_report

## Read data

In [12]:
fName = ['id', 'avg_ADJ', 'avg_ADP', 'avg_ADV', 'avg_AUX', 'avg_CCONJ', 'avg_CONJ', 'avg_DET', 'avg_EOL', 'avg_INTJ', 'avg_NOUN', 'avg_NO_TAG', 'avg_NUM', 'avg_PART', 'avg_PRON', 'avg_PROPN', 'avg_PUNCT', 'avg_SCONJ', 'avg_SPACE', 'avg_SYM', 'avg_Tops', 'avg_VERB', 'avg_X', 'avg_act', 'avg_adjectives_for_people', 'avg_animal', 'avg_april_fool', 'avg_art', 'avg_artifact', 'avg_astronomy', 'avg_attribute', 'avg_baseball', 'avg_bathroom', 'avg_beach', 'avg_big', 'avg_biomes', 'avg_birds', 'avg_birthday', 'avg_boat', 'avg_bodies_of_water', 'avg_body', 'avg_buildings', 'avg_camping', 'avg_car', 'avg_carnival', 'avg_carparts', 'avg_castle', 'avg_cats', 'avg_change', 'avg_christmas', 'avg_circus', 'avg_clothes', 'avg_cognition', 'avg_colors', 'avg_communication', 'avg_competition', 'avg_computer', 'avg_constitution', 'avg_consumption', 'avg_contact', 'avg_container', 'avg_cooking', 'avg_cooking_tools', 'avg_country', 'avg_creation', 'avg_dance', 'avg_dentist', 'avg_desserts', 'avg_doctor', 'avg_dogs', 'avg_driving', 'avg_election', 'avg_emotion', 'avg_emotions', 'avg_energy', 'avg_event', 'avg_fall', 'avg_family', 'avg_farm', 'avg_feeling', 'avg_fish', 'avg_flowers', 'avg_food', 'avg_foodweb', 'avg_fruit', 'avg_furniture', 'avg_geography', 'avg_grammar', 'avg_group', 'avg_happiness', 'avg_happy', 'avg_house', 'avg_housing', 'avg_insect', 'avg_jobs', 'avg_kitchen', 'avg_land_forms', 'avg_languages', 'avg_leaders', 'avg_legal', 'avg_location', 'avg_mammal', 'avg_many', 'avg_math', 'avg_maxWordAppearancePerTweet', 'avg_measurement', 'avg_metals', 'avg_military', 'avg_money', 'avg_motion', 'avg_motive', 'avg_music_theory', 'avg_musical_instruments', 'avg_mythical_beasts', 'avg_negative_words', 'avg_new_year', 'avg_noURL', 'avg_nocf', 'avg_noclPerWord', 'avg_noe', 'avg_nos', 'avg_now', 'avg_nowr', 'avg_object', 'avg_ocean', 'avg_office', 'avg_people', 'avg_perception', 'avg_person', 'avg_phenomenon', 'avg_pirate', 'avg_plant', 'avg_plants', 'avg_positive_words', 'avg_possession', 'avg_postal', 'avg_process', 'avg_quantity', 'avg_readabilityScore', 'avg_relation', 'avg_reptiles', 'avg_restaurant', 'avg_roadways', 'avg_rocks', 'avg_rooms', 'avg_school', 'avg_science', 'avg_sciences', 'avg_shape', 'avg_social', 'avg_state', 'avg_stative', 'avg_substance', 'avg_time', 'avg_tree', 'avg_vacation', 'avg_valentine', 'avg_vegetables', 'avg_virtues', 'avg_water', 'avg_weapons', 'avg_weather', 'avg_winter', 'avg_yard', 'maxWordAppearancePerProfile']
# len(fName)

In [13]:
csv_dir = "../pan19-author-profiling-training-2019-01-28/"
df = pd.read_csv(csv_dir+"test_features.txt", sep='\t', header=None, names=fName, encoding='utf-8-sig')

In [14]:
df.head()

,id,avg_ADJ,avg_ADP,avg_ADV,avg_AUX,avg_CCONJ,avg_CONJ,avg_DET,avg_EOL,avg_INTJ,...,avg_vacation,avg_valentine,avg_vegetables,avg_virtues,avg_water,avg_weapons,avg_weather,avg_winter,avg_yard,maxWordAppearancePerProfile
0,1008c35dc72c34ead679c539a0ed7c24,1.46,1.36,0.96,0.0,0.20,0.0,1.48,0.0,0.16,...,0.26,0.08,0.0,0.13,0.01,0.00,0.25,0.00,0.02,108
1,100e80cf6283b11b25f05f4d673947ea,1.32,1.85,1.05,0.0,0.23,0.0,1.28,0.0,0.11,...,0.20,0.05,0.0,0.07,0.02,0.01,0.15,0.02,0.02,106
2,10142b769515b97369d36b9c0c47383b,1.11,1.98,0.90,0.0,0.37,0.0,1.43,0.0,0.07,...,0.50,0.05,0.0,0.04,0.04,0.03,0.20,0.02,0.03,106
3,1014403fecf2a8ac15264e80e6513450,1.17,1.49,0.78,0.0,0.23,0.0,1.17,0.0,0.06,...,0.42,0.04,0.0,0.11,0.13,0.00,0.32,0.14,0.05,102
4,1023e968a8aa69cf5b659aa57a478f64,0.78,1.27,0.35,0.0,0.27,0.0,0.49,0.0,0.05,...,0.21,0.03,0.0,0.04,0.02,0.01,0.06,0.00,0.00,118

In [15]:
import _pickle as cPickle

In [16]:
with open('ada1.pkl', 'rb') as fid:
    gnb_loaded = cPickle.load(fid)

In [17]:
with open('ada2.pkl', 'rb') as fid:
    gnb_loaded2 = cPickle.load(fid)

In [18]:
df.head()

,id,avg_ADJ,avg_ADP,avg_ADV,avg_AUX,avg_CCONJ,avg_CONJ,avg_DET,avg_EOL,avg_INTJ,...,avg_vacation,avg_valentine,avg_vegetables,avg_virtues,avg_water,avg_weapons,avg_weather,avg_winter,avg_yard,maxWordAppearancePerProfile
0,1008c35dc72c34ead679c539a0ed7c24,1.46,1.36,0.96,0.0,0.20,0.0,1.48,0.0,0.16,...,0.26,0.08,0.0,0.13,0.01,0.00,0.25,0.00,0.02,108
1,100e80cf6283b11b25f05f4d673947ea,1.32,1.85,1.05,0.0,0.23,0.0,1.28,0.0,0.11,...,0.20,0.05,0.0,0.07,0.02,0.01,0.15,0.02,0.02,106
2,10142b769515b97369d36b9c0c47383b,1.11,1.98,0.90,0.0,0.37,0.0,1.43,0.0,0.07,...,0.50,0.05,0.0,0.04,0.04,0.03,0.20,0.02,0.03,106
3,1014403fecf2a8ac15264e80e6513450,1.17,1.49,0.78,0.0,0.23,0.0,1.17,0.0,0.06,...,0.42,0.04,0.0,0.11,0.13,0.00,0.32,0.14,0.05,102
4,1023e968a8aa69cf5b659aa57a478f64,0.78,1.27,0.35,0.0,0.27,0.0,0.49,0.0,0.05,...,0.21,0.03,0.0,0.04,0.02,0.01,0.06,0.00,0.00,118

In [20]:
def get_data():
    nCols = df.shape[1]
    nFeatures = nCols
    author_id=df.iloc[:, 0]
    X = df.iloc[:, 1:nFeatures]
#     y_bot = df.iloc[:, nFeatures+1]
#     y_gender = df.iloc[:, nFeatures+2]
    return author_id,X

In [22]:
author_id,X=get_data()

In [23]:
def standardize(X_train):
    cols = X_train.columns
    scaler = StandardScaler(copy=True, with_mean=True, with_std=True)
    X_train = scaler.fit_transform(X_train)
    X_train = pd.DataFrame(X_train, columns=cols)
    return X_train

In [24]:
X=standardize(X)

/data/home/mehta/multimodal/lib/python3.5/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/data/home/mehta/multimodal/lib/python3.5/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [25]:
nunique = X.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
X = X.drop(cols_to_drop, axis=1)
# X_dev = X_dev.drop(cols_to_drop, axis=1)
X.shape

(4120, 159)

In [26]:
genderprediction=gnb_loaded2.predict(X)

In [27]:
botprediction=gnb_loaded.predict(X)

In [28]:
len(botprediction)

4120

In [29]:
import xml.etree.cElementTree as ET

In [30]:
for i in range(len(author_id)):
    root = ET.Element("root")
    ET.SubElement(root, "author id").text = str(author_id[i])
    ET.SubElement(root, "lang").text = "en"
    ET.SubElement(root, "type").text = botprediction[i]
    ET.SubElement(root, "gender").text = genderprediction[i]
    tree = ET.ElementTree(root)
    filename=str(author_id[i])+'.xml'
    tree.write(filename)

In [31]:
<author id="author-id" lang="en|es" type="bot|human" gender="bot|male|female" />

SyntaxError: invalid syntax (<ipython-input-31-1a216c410d0d>, line 1)